@{
    ViewData["Title"] = "LigaPro Ecuador";
}

<div class="text-center">
    <h1 class="display-4">LigaPro Ecuador</h1>
    
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="~/imagenes/sliders/slider.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item active">
        <img src="~/imagenes/sliders/slider1.jpg" class="d-block w-100" alt="..." />
    </div>
</div>

